@import "variables";
// ------------------------------------------------------------Move to Top-------------------------------------------//
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $secondary;
    cursor: pointer;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;
    svg {
        fill: $white;
        stroke: none;
    }
}

#myBtn:hover {
    border: 1px solid $primary;
    background-color: $txt-color;
    svg {
        fill: $primary;
    }
}

// ------------------------------------------------------------Slider-------------------------------------------//
.tablet-slider {
    .slide,
    .iscroll {
        width: 100%;
        position: relative;
    }
    .slick-next {
        background: $white !important;
        right: 23px;
        width: 52px;
        height: 52px;
        border-radius: 50%;
    }
    .slick-next::before {
        opacity: 1;
        color: $black;
        content: "❯";
    }
    .slide-arrow {
        position: absolute;
        top: 50%;
        margin-top: -15px;
    }
}

.iScrollHorizontalScrollbar {
    background-color: #DFDFDF;
    height: 1px !important;
    opacity: 1 !important;
    position: relative !important;
    margin-top: 95px;
}

.iScrollIndicator {
    background: $black !important;
    border: 1px solid $black !important;
}

.slick-list {
    cursor: grab;
}