// ----------------------------------------------------Common Variables-----------------------------------------------------
// Color Palette
$primary: #102421;
$secondary: #0F2421;
$tertiary: #f1f1f1;
$btn-bg:#C7E1BF;
$btn-txt:#102522;
$black: #000;
$white: #fff;
$txt-color: #151442;
$txt-color2: #342B42;
$txt-color3:#454545;
$border: #ececec;
$body-color:#666;
$grey:#8F9095;
$client:#FFF3F3;
$tag: #D2D2D2;
//Text
$h1: 88px;
$h2: 20px;
$h3:80px;
$h4: 16px;
$h5: 36px;
$h6: 12px;
$p:16px;