#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0F2421;
  cursor: pointer;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
}

#myBtn svg {
  fill: #fff;
  stroke: none;
}

#myBtn:hover {
  border: 1px solid #102421;
  background-color: #151442;
}

#myBtn:hover svg {
  fill: #102421;
}

.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
}

.navbar-default .navbar-brand {
  margin-top: 10px;
  color: #102421;
}

.navbar-default .navbar-brand:hover {
  color: #C57ED3;
  border: 1px solid #C57ED3;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  margin: 10px 5px 5px 5px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  color: #C57ED3;
  border: 1px solid #C57ED3;
}

.navbar-default .navbar-nav > li > a:visited {
  color: #C57ED3;
  text-decoration: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #C57ED3;
}

.navbar-default .navbar-toggle {
  border-color: #C57ED3;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #490D40;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #C57ED3;
  background-color: #C57ED3;
}

.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #490D40;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #490D40;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  -webkit-box-shadow: 0 0 4px grey;
          box-shadow: 0 0 4px grey;
}

.navbar.solid .navbar-brand {
  color: #C57ED3;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}

.navbar.solid .navbar-nav > li > a {
  color: #C57ED3;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}

.about {
  background-color: #C57ED3;
  color: #490D40;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}

.about h2 {
  padding-top: 220px;
}

.about p {
  padding: 20px 80px;
}

.tablet-slider .slider-nav img {
  max-width: 100%;
}

.tablet-slider .slider-for img {
  width: 100%;
}

.tablet-slider .slider-nav slick-slide:hover {
  cursor: pointer;
}

.tablet-slider .slick-prev,
.tablet-slider .slick-next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 0;
}

.tablet-slider .slick-prev:before,
.tablet-slider .slick-next:before {
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  display: block;
  height: 60px;
  opacity: 1;
  width: 30px;
}

.tablet-slider .slick-prev:hover:before,
.tablet-slider .slick-next:hover:before {
  opacity: 0.8;
}

.tablet-slider .slick-prev {
  left: 0;
}

.tablet-slider .slick-prev:before {
  background-image: url("http://www.flagshipsd.com/sites/default/files/userfiles/images/slick-prev.png");
}

.tablet-slider .slick-next {
  right: 0;
}

.tablet-slider .slick-next:before {
  background-image: url("http://www.flagshipsd.com/sites/default/files/userfiles/images/slick-next.png");
}

.tablet-slider .modal-content {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  border-radius: 0;
  margin-left: 1px;
}

.tablet-slider .modal-content .modal-body {
  padding: 0;
}

.tablet-slider .modal-content .modal-body iframe {
  margin-bottom: -5px;
}

.tablet-slider .modal-content .modal-header {
  border: 0 none;
  height: 0;
  min-height: 0;
  padding: 0;
}

.tablet-slider .modal-content .modal-header .close {
  background-color: #000000 !important;
  border: 2px solid #ffffff !important;
  border-radius: 13px;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  opacity: 1;
  padding-bottom: 0;
  position: absolute;
  right: -13px;
  text-shadow: none;
  top: -13px;
  width: 26px;
  z-index: 1;
}

.slick-list {
  padding: 0 !important;
}

.tablet-slider .slider-nav img {
  max-width: 85% !important;
}

@media screen and (max-width: 575px) {
  .nb {
    height: 56px !important;
  }
  .nb-content {
    display: block !important;
  }
  .navbar-collapse.show ul {
    width: 100%;
    background-color: #fff !important;
  }
  .banner .text-section {
    -webkit-transform: translate(15%, -50%) !important;
            transform: translate(15%, -50%) !important;
  }
  .banner .text-section h1 {
    font-size: 30px !important;
    margin-bottom: 15px !important;
  }
  .banner .text-section p {
    font-size: 16px !important;
    margin-bottom: 15px !important;
    width: 40% !important;
  }
  .banner button {
    padding: 0px 15px !important;
    height: 48px !important;
    margin-bottom: 15px;
  }
  .banner .img-holder {
    margin-left: -30px !important;
  }
  .banner .button-box {
    width: 50% !important;
  }
  .mgn-rgt-52 {
    margin-right: 5px !important;
  }
  .products {
    padding: 30px 15px !important;
  }
  .products .content-box {
    margin-top: 20px !important;
  }
  .products .content-box h5 {
    font-size: 22px !important;
  }
  .heading-section h3 {
    font-size: 25px !important;
  }
  .heading-section .abs-btn {
    position: relative !important;
    margin-top: 15px;
    margin: auto !important;
    text-align: center !important;
  }
  .heading-section .abs-btn button {
    height: 48px !important;
    width: 200px !important;
    top: inherit !important;
    right: inherit !important;
  }
  .heading-section .abs-btn .btn-primary {
    margin-right: auto !important;
  }
  .clients {
    padding: 30px 0px !important;
  }
  .clients h3 {
    font-size: 25px !important;
    margin: 0 !important;
  }
  .clients h6 {
    margin-top: 15px !important;
  }
  .clients .content-section {
    padding: 15px 30px !important;
    margin-top: 30px;
  }
  .clients .content-section .quotes {
    font-size: 22px !important;
  }
  .clients .content-section .top-quote {
    margin-left: -15px !important;
    width: 25px;
  }
  .clients .content-section .bottom-quote {
    margin-right: -15px !important;
    width: 25px;
  }
  .clients .content-section .client-info {
    margin: 0 !important;
  }
  .tablets {
    padding-top: 30px !important;
  }
  .tablets h3 {
    margin-bottom: 15px !important;
  }
  .tablets .tablet-slider {
    margin-top: 30px !important;
    margin-left: 15px !important;
  }
  .benefits {
    padding: 50px 15px !important;
  }
  .benefits h3 {
    margin-bottom: 15px !important;
    font-size: 25px !important;
  }
  .benefits .img-container {
    margin-bottom: 15px !important;
  }
  .benefits .content {
    margin-top: 30px;
  }
  footer {
    padding: 30px 15px !important;
  }
  footer h1 {
    font-size: 30px !important;
    margin-bottom: 15px !important;
  }
  footer .col-lg-7 {
    padding: 0 !important;
  }
  footer h6 {
    margin-bottom: 0 !important;
  }
  footer ul {
    margin-bottom: 30px !important;
  }
  body {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .nb {
    height: 56px !important;
  }
  .nb-content {
    display: block !important;
  }
  .navbar-collapse.show ul {
    width: 100%;
    background-color: #fff !important;
  }
  .banner .text-section {
    -webkit-transform: translate(15%, -50%) !important;
            transform: translate(15%, -50%) !important;
  }
  .banner .text-section h1 {
    font-size: 30px !important;
    margin-bottom: 15px !important;
  }
  .banner .text-section p {
    font-size: 16px !important;
    margin-bottom: 15px !important;
    width: 40% !important;
  }
  .banner .text-section .tag {
    display: none;
  }
  .banner button {
    padding: 0px 15px !important;
    height: 48px !important;
    margin-bottom: 15px;
  }
  .banner .img-holder {
    margin-left: -30px !important;
  }
  .mgn-rgt-52 {
    margin-right: 5px !important;
  }
  .products {
    padding: 30px 15px !important;
  }
  .products .content-box {
    margin-top: 20px !important;
  }
  .products .content-box h5 {
    font-size: 22px !important;
  }
  .heading-section h3 {
    font-size: 25px !important;
  }
  .heading-section .abs-btn {
    position: relative !important;
    margin-top: 15px;
    margin: auto !important;
    text-align: center !important;
  }
  .heading-section .abs-btn button {
    height: 48px !important;
    width: 200px !important;
    top: inherit !important;
    right: inherit !important;
  }
  .heading-section .abs-btn .btn-primary {
    margin-right: auto !important;
  }
  .clients {
    padding: 30px 0px !important;
  }
  .clients h3 {
    font-size: 25px !important;
    margin: 0 !important;
  }
  .clients h6 {
    margin-top: 15px !important;
  }
  .clients .content-section {
    padding: 15px 30px !important;
    margin-top: 30px;
  }
  .clients .content-section .quotes {
    font-size: 22px !important;
  }
  .clients .content-section .top-quote {
    margin-left: -15px !important;
    width: 25px;
  }
  .clients .content-section .bottom-quote {
    margin-right: -15px !important;
    width: 25px;
  }
  .clients .content-section .client-info {
    margin: 0 !important;
  }
  .tablets {
    padding-top: 30px !important;
  }
  .tablets h3 {
    margin-bottom: 15px !important;
  }
  .tablets .tablet-slider {
    margin-top: 30px !important;
    margin-left: 15px !important;
  }
  .benefits {
    padding: 50px 15px !important;
  }
  .benefits h3 {
    margin-bottom: 15px !important;
    font-size: 25px !important;
  }
  .benefits .img-container {
    margin-bottom: 15px !important;
  }
  .benefits .content {
    margin-top: 30px;
  }
  footer {
    padding: 30px 15px !important;
  }
  footer h1 {
    font-size: 30px !important;
    margin-bottom: 15px !important;
  }
  footer .col-lg-7 {
    padding: 0 !important;
  }
  footer h6 {
    margin-bottom: 0 !important;
  }
  footer ul {
    margin-bottom: 30px !important;
  }
  body {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .nb {
    height: 56px !important;
  }
  .nb-content {
    display: block !important;
  }
  .navbar-collapse.show ul {
    width: 100%;
    background-color: #fff !important;
  }
  .banner .text-section {
    -webkit-transform: translate(16%, -50%) !important;
            transform: translate(16%, -50%) !important;
  }
  .banner .text-section h1 {
    font-size: 50px !important;
    margin-bottom: 15px !important;
  }
  .banner .text-section p {
    font-size: 16px !important;
    margin-bottom: 15px !important;
    width: 40% !important;
  }
  .banner button {
    padding: 0px 15px !important;
    height: 48px !important;
    margin-bottom: 15px;
  }
  .banner .img-holder {
    margin-left: -90px !important;
  }
  .banner .button-box {
    width: 50% !important;
  }
  h1 {
    font-size: 40px !important;
  }
  h3 {
    font-size: 36px !important;
  }
  .products {
    padding: 50px 0px !important;
  }
  .products .content-box h5 {
    font-size: 24px !important;
  }
  .abs-btn {
    position: relative !important;
    margin-top: 15px;
    margin: auto !important;
    text-align: center !important;
  }
  .abs-btn button {
    height: 48px !important;
    width: 200px !important;
    top: inherit !important;
    right: inherit !important;
    margin-right: 0 !important;
  }
  .abs-btn .btn-primary {
    margin-right: auto !important;
  }
  .clients {
    padding: 50px 0 !important;
  }
  .clients h3 {
    margin: 0 !important;
  }
  .clients h6 {
    margin-top: 30px !important;
  }
  .clients .content-section {
    margin-top: 50px;
    padding: 50px 100px !important;
  }
  .clients .content-section .quotes {
    font-size: 28px !important;
  }
  .tablets {
    padding-top: 50px !important;
  }
  .tablets .heading-section h3 {
    margin-bottom: 15px !important;
  }
  .tablets .heading-section button {
    margin-right: 0 !important;
  }
  .tablets .tablet-slider {
    margin-top: 50px;
  }
  .benefits {
    padding: 50px !important;
  }
  footer {
    padding: 50px 0 !important;
  }
  footer .row {
    padding: 0 !important;
  }
  footer .col-lg-5 {
    padding: 0 30px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .nb {
    background-color: #fff !important;
  }
  .nb .nbb {
    color: #102421 !important;
  }
  .banner .text-section {
    -webkit-transform: translate(15%, -50%) !important;
            transform: translate(15%, -50%) !important;
  }
  .banner .text-section h1 {
    font-size: 70px !important;
    margin-bottom: 50px !important;
  }
  .banner .text-section p {
    font-size: 16px !important;
    margin-bottom: 50px !important;
    width: 80% !important;
  }
  h1 {
    font-size: 60px !important;
  }
  h3 {
    font-size: 48px !important;
  }
  .products {
    padding: 50px 0px !important;
  }
  .products .content-box h5 {
    font-size: 24px !important;
  }
  .abs-btn {
    position: relative !important;
    margin-top: 15px;
    margin: auto !important;
    text-align: center !important;
  }
  .abs-btn button {
    height: 48px !important;
    width: 200px !important;
    top: inherit !important;
    right: inherit !important;
    margin-right: 0 !important;
  }
  .abs-btn .btn-primary {
    margin-right: auto !important;
  }
  .clients {
    padding: 50px 0 !important;
  }
  .clients h6 {
    margin-top: 30px !important;
  }
  .clients .content-section {
    margin-top: 50px;
    padding: 50px 100px !important;
  }
  .clients .content-section .quotes {
    font-size: 28px !important;
  }
  .tablets {
    padding-top: 50px !important;
  }
  .tablets .heading-section h3 {
    margin-bottom: 15px !important;
  }
  .tablets .heading-section button {
    margin-right: 0 !important;
  }
  .tablets .tablet-slider {
    margin-top: 50px;
  }
  .benefits {
    padding: 50px !important;
  }
  footer {
    padding: 50px 0 !important;
  }
  footer .row {
    padding: 0 !important;
  }
  footer .col-lg-5 {
    padding: 0 30px !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .nb a {
    margin-right: 25px !important;
  }
  .nb .nav-link {
    padding: 0 !important;
  }
  .nb .headerpad {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .nb .no-mgn {
    margin: 0 !important;
  }
  .banner .text-section {
    -webkit-transform: translate(30%, -50%) !important;
            transform: translate(30%, -50%) !important;
  }
  .banner .text-section h1 {
    font-size: 70px !important;
    margin-bottom: 50px !important;
  }
  .banner .text-section p {
    font-size: 16px !important;
    margin-bottom: 50px !important;
    width: 80% !important;
  }
  h1 {
    font-size: 60px !important;
  }
  h3 {
    font-size: 48px !important;
  }
  .products {
    padding: 120px 0px !important;
  }
  .products .content-box h5 {
    font-size: 24px !important;
  }
  .abs-btn button {
    height: 48px !important;
    width: 200px !important;
  }
  .abs-btn .btn-primary {
    margin-right: auto !important;
  }
  .clients {
    padding: 120px 0 !important;
  }
  .clients h6 {
    margin-top: 30px !important;
  }
  .clients .content-section {
    margin-top: 50px;
    padding: 50px 100px !important;
  }
  .clients .content-section .quotes {
    font-size: 28px !important;
  }
  .tablets {
    padding-top: 120px !important;
  }
  .tablets .abs-btn {
    right: 126px !important;
  }
  .tablets .heading-section h3 {
    margin-bottom: 15px !important;
  }
  .tablets .heading-section button {
    margin-right: 0 !important;
  }
  .tablets .tablet-slider {
    margin-top: 120px;
  }
  .benefits {
    padding: 120px !important;
  }
  footer {
    padding: 120px 0 !important;
  }
  footer .row {
    padding: 0 !important;
  }
  footer .col-lg-5 {
    padding: 0 30px !important;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1899px) {
  .nb a {
    margin-right: 25px !important;
  }
  .nb .nav-link {
    padding: 0 !important;
  }
  .nb .headerpad {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .nb .no-mgn {
    margin: 0 !important;
  }
}

@media screen and (min-width: 1900px) and (max-width: 2560px) {
  .container {
    max-width: 1737px;
  }
}

@media screen and (min-width: 2561px) and (max-width: 3400px) {
  .container {
    max-width: 2460px;
  }
}

@media screen and (min-width: 3400px) {
  .container {
    max-width: 3300px;
  }
}

@font-face {
  font-family: 'Sailec';
  font-weight: 400;
  src: url("../fonts/Sailec.otf");
}

@font-face {
  font-family: 'Sailec';
  font-weight: 500;
  src: url("../fonts/Sailec_Medium.otf");
}

@font-face {
  font-family: 'Sailec';
  font-weight: 700;
  src: url("../fonts/Sailec_Bold.otf");
}

@font-face {
  font-family: 'Sailec';
  font-weight: 900;
  src: url("../fonts/Sailec_Black.otf");
}

html {
  scroll-behavior: smooth;
}

body,
p,
a {
  font-family: 'Sailec', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Sailec', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Sailec', sans-serif;
  font-weight: 500;
}

.ml-auto {
  margin-left: auto !important;
}

.nb {
  z-index: 11;
}

.nb a {
  font-size: 14px;
  line-height: 120.5%;
  margin-right: 36px;
  font-weight: 500;
  color: #151442;
}

.nb a:hover, .nb a:active, .nb a:focus {
  text-decoration: underline !important;
}

.nb .headerpad {
  padding-left: 49px;
  padding-right: 20px;
}

.nb .flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nb .flx img {
  margin-left: 8px;
}

.nb .cart-count {
  width: 19px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #102421;
  border-radius: 50%;
}

.nb .cart-count p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.nb .no-mgn {
  margin: 0;
}

.nb .navbar-brand {
  font-size: 16px;
  line-height: 120.5%;
  letter-spacing: 0.5em;
  color: #fff;
  font-weight: 700;
}

.nb .nb-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nb .navbar-toggler {
  border: 1px solid #102421 !important;
  margin-left: auto !important;
  background-color: #fff !important;
  float: right;
  outline: none !important;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.banner .content {
  background-color: #102421;
  width: 100%;
  height: 100vh;
}

.banner .text-section {
  margin-left: 115px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.banner .text-section h1 {
  font-size: 88px;
  line-height: 120.5%;
  font-weight: 700;
  margin-bottom: 46px;
}

.banner .text-section p {
  font-size: 22px;
  line-height: 120.5%;
  color: #D2D2D2;
  width: 70%;
  margin-bottom: 118px;
}

.banner .image-section {
  width: calc(100%+115px);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.banner .image-section .img-holder {
  width: 100%;
  margin-left: -115px;
}

.banner .image-section .img-holder img {
  width: 100%;
}

.banner .button-box button {
  background: #C7E1BF;
  color: #102522;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 48px;
  padding: 0px 26px;
  font-size: 14px;
  height: 58px;
  border: 1px solid #C7E1BF;
}

.banner .button-box button:hover, .banner .button-box button:active, .banner .button-box button:focus {
  background: #102421;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.banner .button-box .mgn-rgt-52 {
  margin-right: 52px;
}

.nopad {
  margin: 0 !important;
  padding: 0 !important;
}

.tag {
  font-size: 14px;
  line-height: 120.5%;
  letter-spacing: 0.5em;
  margin-top: 23px;
}

.products {
  padding: 166px 115px 190px 115px;
}

.heading-section {
  position: relative;
}

.heading-section h3 {
  text-align: center;
  font-size: 80px;
  line-height: 120.5%;
  color: #151442;
}

.heading-section .abs-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.heading-section .btn-primary {
  background: #fff;
  color: #102421;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 50px;
  font-size: 17px;
  border: 1px solid #102421;
  padding: 0px 25px 0px 28px;
  height: 61px;
  margin-top: 15px;
  margin-right: 126px;
}

.heading-section .btn-primary span {
  margin-left: 31px;
  fill: #102421;
}

.heading-section .btn-primary:hover, .heading-section .btn-primary:active, .heading-section .btn-primary:focus {
  background: #102421;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.heading-section .btn-primary:hover span, .heading-section .btn-primary:active span, .heading-section .btn-primary:focus span {
  margin-left: 31px;
  fill: #fff;
}

.content-box {
  width: 100%;
  text-align: center;
  margin-top: 101px;
}

.content-box:hover .details {
  display: block;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 01s;
          animation-duration: 01s;
}

.content-box .img-container {
  position: relative;
}

.content-box .img-container img {
  width: 100%;
}

.content-box h5 {
  font-weight: 500;
  font-size: 36px;
}

.content-box .price {
  margin: 19px 26px;
  font-size: 14px;
  color: #8F9095;
}

.content-box p {
  color: #8F9095;
  font-weight: 500;
  line-height: 23.92px;
  font-size: 16px;
}

.content-box .circle-section {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #102421;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
}

.content-box .circle-section p {
  font-weight: 500;
  font-size: 12px;
  line-height: 149.5%;
  color: #fff;
  margin: 0;
}

.content-box .details {
  position: absolute;
  top: 96px;
  right: 35px;
  display: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.clients {
  padding-top: 146px;
  padding-bottom: 146px;
  background: url("../images/client.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.clients h3 {
  font-size: 80px;
  margin-top: 169px;
}

.clients h6 {
  font-size: 14px;
  margin-top: 81px;
  line-height: 120.5%;
}

.clients .underline {
  width: 89px;
  height: 2px;
  background-color: #fff;
}

.clients .content-section {
  width: 100%;
  background-color: #FFF3F3;
  padding: 151px 78px 85px 106px;
  color: #342B42;
}

.clients .content-section .quotes {
  font-size: 50px;
  font-weight: 500;
  line-height: 150%;
}

.clients .content-section .name {
  font-size: 22px;
  line-height: 168%;
  color: #454545;
  margin: 0;
}

.clients .content-section .profession {
  font-size: 16px;
  line-height: 168%;
  width: 100%;
}

.clients .content-section .client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  margin-right: 57px;
}

.clients .content-section .top-quote {
  margin-left: -44px;
}

.clients .content-section .bottom-quote {
  margin-right: -22px;
}

.clients .content-section .img-container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.clients .content-section .img-container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.tablets {
  padding-top: 166px;
}

.tablets h3 {
  margin-bottom: 100px;
}

.tablets .heading-section button {
  margin-right: 226px;
}

.tablets .tablet-slider {
  margin-left: 100px;
}

.benefits {
  padding: 165px 333px 260px 333px;
  text-align: center;
}

.benefits h3 {
  margin-bottom: 100px;
  font-size: 80px;
}

.benefits .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits .img-container {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 61px;
}

footer {
  padding: 151px 0 138px 0;
  background-color: #0F2421;
  color: #fff;
}

footer h1 {
  font-size: 88px;
  margin-bottom: 70px;
  font-weight: 500;
  line-height: 117%;
}

footer p {
  font-size: 14px;
  line-height: 282.5%;
}

footer h6 {
  font-size: 18px;
  line-height: 282.5%;
  margin-bottom: 26px;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer a {
  font-size: 14px;
  line-height: 282.5%;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

footer a:hover, footer a:active, footer a:focus {
  text-decoration: underline;
  color: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

footer .address {
  font-size: 14px;
  line-height: 205.5%;
}
/*# sourceMappingURL=main.css.map */